<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.hassanamr.simpleblogfeed">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:allowBackup="false"
        android:icon="@drawable/ic_app_logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/ic_app_logo"
        android:supportsRtl="false"
        android:theme="@style/AppTheme">

        <activity
            android:name=".ui.activity.postsfeed.PostsFeedActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ui.activity.userprofile.UserProfileActivity"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name=".ui.activity.createpost.CreatePostActivity"
            android:label="@string/create_post"
            android:parentActivityName=".ui.activity.postsfeed.PostsFeedActivity" />

        <activity
            android:name=".ui.activity.editpost.EditPostActivity"
            android:label="@string/edit_post" />

        <activity
            android:name=".ui.activity.aboutapp.AboutAppActivity"
            android:label="@string/about_app"
            android:parentActivityName=".ui.activity.postsfeed.PostsFeedActivity" />

    </application>

</manifest>